apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: job-cleaner
rules:
  - apiGroups: [""]
    resources: ["pods"]
    verbs: ["list", "delete", "get"]
  - apiGroups: ["batch"]
    resources: ["jobs"]
    verbs: ["list", "delete", "get"]
  - apiGroups: [""]
    resources: ["pods/log"]
    verbs: ["get"]
